<a href="https://colab.research.google.com/github/sebinsaji007/Machine_learning_journey/blob/main/hiring_linear_reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from sklearn import linear_model
from word2number import w2n

In [ ]:
!pip install word2number

In [ ]:
cd /content/drive/MyDrive/python/Machine learning/linear regression

In [41]:
df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [44]:
df.experience=df.experience.fillna('zero')
df.experience

0      zero
1      zero
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: experience, dtype: object

In [46]:
df.experience = df.experience.apply(w2n.word_to_num)

In [51]:
new_column_names = {
    "test_score(out of 10)": "test_scores",
    "interview_score(out of 10)":"interview_score",
    "salary($)":"salary"
}
df.rename(columns=new_column_names, inplace=True)

In [52]:
df

   experience  test_scores  interview_score  salary
0           0          8.0                9   50000
1           0          8.0                6   45000
2           5          6.0                7   60000
3           2         10.0               10   65000
4           7          9.0                6   70000
5           3          7.0               10   62000
6          10          NaN                7   72000
7          11          7.0                8   80000

In [60]:
med_test_scores=df.test_scores.median()
df.test_scores=df.test_scores.fillna(med_test_scores)

In [48]:
reg = linear_model.LinearRegression()

In [ ]:
reg.fit(df[['experience','test_scores','interview_score']],df.salary)

In [63]:
reg.predict([[7,8,9]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([72040.75691412])